node_modules/
.DS_Store
assets/images/bits.png
assets/images/profile.jpg
assets/images/project.jpg
assets/images/sbu.png
assets/js/main.js
assets/js/min/main-min.js
assets/plugins/bootstrap/.editorconfig
assets/plugins/bootstrap/.gitattributes
assets/plugins/bootstrap/.hound.yml
assets/plugins/bootstrap/.travis.yml
assets/plugins/bootstrap/css/bootstrap-theme.css
assets/plugins/bootstrap/css/bootstrap-theme.css.map
assets/plugins/bootstrap/css/bootstrap-theme.min.css
assets/plugins/bootstrap/css/bootstrap-theme.min.css.map
assets/plugins/bootstrap/css/bootstrap.css
assets/plugins/bootstrap/css/bootstrap.css.map
assets/plugins/bootstrap/css/bootstrap.min.css
assets/plugins/bootstrap/css/bootstrap.min.css.map
assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.eot
assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.svg
assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.ttf
assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.woff
assets/plugins/bootstrap/fonts/glyphicons-halflings-regular.woff2
assets/plugins/bootstrap/js/bootstrap.js
assets/plugins/bootstrap/js/bootstrap.min.js
assets/plugins/bootstrap/js/npm.js
assets/plugins/font-awesome/css/font-awesome.css
assets/plugins/font-awesome/css/font-awesome.min.css
assets/plugins/font-awesome/fonts/fontawesome-webfont.eot
assets/plugins/font-awesome/fonts/fontawesome-webfont.svg
assets/plugins/font-awesome/fonts/fontawesome-webfont.ttf
assets/plugins/font-awesome/fonts/fontawesome-webfont.woff
assets/plugins/font-awesome/fonts/fontawesome-webfont.woff2
assets/plugins/font-awesome/fonts/FontAwesome.otf
assets/plugins/font-awesome/HELP-US-OUT.txt
assets/plugins/font-awesome/less/animated.less
assets/plugins/font-awesome/less/bordered-pulled.less
assets/plugins/font-awesome/less/core.less
assets/plugins/font-awesome/less/fixed-width.less
assets/plugins/font-awesome/less/font-awesome.less
assets/plugins/font-awesome/less/icons.less
assets/plugins/font-awesome/less/larger.less
assets/plugins/font-awesome/less/list.less
assets/plugins/font-awesome/less/mixins.less
assets/plugins/font-awesome/less/path.less
assets/plugins/font-awesome/less/rotated-flipped.less
assets/plugins/font-awesome/less/stacked.less
assets/plugins/font-awesome/less/variables.less
assets/plugins/font-awesome/scss/_animated.scss
assets/plugins/font-awesome/scss/_bordered-pulled.scss
assets/plugins/font-awesome/scss/_core.scss
assets/plugins/font-awesome/scss/_fixed-width.scss
assets/plugins/font-awesome/scss/_icons.scss
assets/plugins/font-awesome/scss/_larger.scss
assets/plugins/font-awesome/scss/_list.scss
assets/plugins/font-awesome/scss/_mixins.scss
assets/plugins/font-awesome/scss/_path.scss
assets/plugins/font-awesome/scss/_rotated-flipped.scss
assets/plugins/font-awesome/scss/_stacked.scss
assets/plugins/font-awesome/scss/_variables.scss
assets/plugins/font-awesome/scss/font-awesome.scss
assets/plugins/jquery-1.11.3.min.js
resume.html
